.custom-strike-price {
  background-color: #22262e !important;
  color: white !important;
}

.bdr {
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5); */
}

.customStrikePriceClass-bg {
  background-color: #f1b44c !important;
  color: black !important;
}
.text-green {
  color: green;
}
