.custom-strike-price {
  background-color: #22262e !important;
  color: white !important;
}

.bdr {
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5); */
}

.customStrikePriceClass-bg {
  background-color: #f1b44c !important;
  color: black !important;
}
.text-green {
  color: green;
}
.text-gradient {
  /* background: linear-gradient(to right, #3cff01, rgb(0, 0, 0)); */
  background: linear-gradient(92.35deg, #B4F7FE 0.67%, #C5FDFD 2.42%, #7265FD 34.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 40%;
}

.Drag:hover {
  cursor: pointer;
}
.bgbackgroundblue {
  background: linear-gradient(to right, #144704, rgb(67, 182, 1));
}

.gu-transit {
  opacity: 0.01;
  background-color: rgb(0,0,0,0.3);
  height: 60px;
  width: 100%;
  transition: 0.2s;
  object-fit: cover;
}
.gu-mirror{
  position :fixed !important;
  margin: 0 !important;
  z-index :9999 !important;
  opacity: 0.8
}
.gu-hide
{ display: none !important;}
.gu-unselectable{
  user-select: none !important
}
.gu-transit{
  opacity :0.2;
}
.gu-transit:hover {
  animation: superSUPERSecret;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  opacity: 0.8;
  background-color: rgb(0,0,0,0.1);
}

@keyframes superSUPERSecret {
  0%{transform: rotate(3deg)}
  50%{transform: rotate(-3deg)}
  100%{transform: rotate(3deg)}
}

.table > :not(caption) > * > * {
  background-color: #292B42;
}

.table th {
  /* border-radius: 8px; */
  background-color: #3D3F63 !important;
}

table.table.dataTable > :not(caption) > * > * {
  background-color: #292B42;

}

div.dt-container div.dt-info {
  
  display: none;
}