/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    /* Styles for extra small devices */
    div.dt-container div.dt-search input {
        border: 1px solid white;
        border-radius: 30px;
        width: 40%;
      }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Styles for small devices */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* Styles for extra large devices */
  }
  